body {
  background-color: blanchedalmond;
}

#set_up {
  background-color: cornflowerblue;
}

#live_game {
  background-color: sandybrown;
}

#score_board {
  background-color: palevioletred;
}

#player_turn_tracker :first-child {
  color: greenyellow;
}

.active_dice {
  color: green;
}
.inactive_dice {
  color: red;
}
